.profile__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: calc(100% - 300px);
}

@media screen and (max-width: 768px) {
    .profile__info {
        max-width: 100%;
    }
}