.profile__image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 30px;
}

@media screen and (max-width: 768px) {
    .profile__image {
        width: 169px;
        height: 128px;
        margin-bottom: 23px;
        text-align: center;

    }
}