.page {
    font-family: "Inter", Arial, sans-serif;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 45px;
    padding-bottom: 60px;
    background-color: #000000;
    -webkit-font-smoothing: antialiased;
}
