.element__delete {
    position: absolute;
    border: none;
    background: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 18px 15px auto;
    right: 0px;
}

.element__delete:hover {
    color: #FFFFFF;
    opacity: 0.6;
}