.elements {
    display: grid;
    max-width: calc(1280px - 400px);
    margin: 0 auto 67px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px 17px;
}



@media screen and (max-width: 768px) {
    .elements {
        width: calc(100% - 38px);
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(auto, 1fr);
      
    }
}