.elements {
    display: grid;
    max-width: calc(1280px - 400px);
    margin: 0 auto 48px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px 17px;
    
    
}