.profile__add-button {
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    background-color: #000000;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.profile__add-button:hover {
  color: #FFFFFF;
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .profile__add-button {
     width: 282px;
     
    
  }
}